@charset "utf-8";


/* FONTS */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*h1 {
	font-family: sans-serif;
	font-size: 17px;
}

h2 {
	font-family: sans-serif;
	font-size: 16px;
}

h3 {
	font-family: sans-serif;
	font-size: 16px;
}

h4 {font-family: sans-serif;
	font-size: 16px;
}

/* LOGOS */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.img_logo_toyota {
	width:400px;
	padding-bottom: 1em;
	margin: 0 auto;
}

.img_management {
	width:200px;
	padding-top: 1em;
	margin: 0 auto;
}

/* LOGIN */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.txt_field_login {
	width:30%;
	margin: 0 auto;
}

.txt_field_password {
	width:30%;
	margin: 0 auto;
	padding-bottom: 0em;
}

.recordar_us {
	width:30%;
	margin: 0 auto;
	padding-bottom: 2em;
}

/*.recordar_us_estilo {
	background-color:transparent;
}*/

.btn_login {
	width:15%;
	margin: 0 auto;
	padding-bottom: 1em;
}

